<header>
  <h1>Login with your email</h1>
</header>
<main>
  <% include ./partials/messages %>

  <form method="POST" action="/auth/login/local" name="login">
    <input placeholder="Email" name="email" type="text" />
    <input placeholder="Password" name="password" type="password" />
    <span>Have an account ? <a href="/auth/register">Register</a></span>
    <button class="myButton" type="submit">Login</button>
  </form>
</main>
