<header>
  <h1>Login local</h1>
</header>
<main>
  <form method="POST" action="/auth/login/local" name="login">
    <input placeholder="Email" name="email" type="text" />
    <input placeholder="Password" name="password" type="password" />
    <span>Have an account ? <a href="/auth/register">Register</a></span>
    <button type="submit">Login</button>
  </form>
</main>
