<header>
  <h1>Login using...</h1>
</header>
<main>
  <% include ./partials/messages %>

  <a class="google-btn" href="/auth/google">Google+</a>
  <a class="google-btn" href="/auth/login/local">Email</a>
</main>
