<main>
  <% include ./partials/messages %>
  <h1>Add an project</h1>
  <form
    method="POST"
    action="<%= '/project/' + project.id + '/modify' %>"
    name="add"
  >
    <input
      value="<%= project.title %>"
      placeholder="Title"
      name="title"
      type="text"
    />
    <textarea
      value="<%= project.description %>"
      placeholder="Description"
      name="description"
      type="text"
    >
<%= project.description %></textarea
    >
    <button class="myButton" type="submit">Add</button>
  </form>
</main>
