<header>
  <h1>
    Welcome to your profile, <%= user.google.username || user.username %>
  </h1>
</header>
<main>
  <% include ./partials/messages %>

  <p>
    extra information about you.
  </p>
</main>
